<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/qO-PIF84Vxg/1600x900')">
  <div class="banner-container">
    <div class="banner-content">
      <h1>Shelter Buddiez</h1>
      <br>
      <h2>Book time with your favorite shelter animal</h2>
    </div>
    <div class="col-sm-6 col-xs-12">
      <form id="search-box">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Select your preferred animal">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Select your location">
          </div>
        </div>
        <br>
        <div class="row">
          <div class='col-sm-6'>
            <div class="form-group">
              <input id='datetimepicker1'type="text" class="form-control" placeholder="Select your date"/>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-light">Find your buddy!</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div id="description-text">
        <h3><b>Why Shelter Buddies?</b></h3>
        <p>Many shelter animals have had a rough past. When they come to shelters, they are in need of love and care.
            Shelters do their best but they often suffer from limited resources.
            This is where volunteers play a large role. By spending quality time with shelter
            animals, they help shelters improve the animals' physical health and their socialisation skills</p>
        <h3><b>How does Shelter Buddies work?</b></h3>
        <p><i class="fas fa-paw"></i> Shelters register the animals they have available
          for socialising</p>
        <p><i class="fas fa-paw"></i> Volunteers register with a short bio about
          their interests and expierence with animals</p>
        <p><i class="fas fa-paw"></i> Volunteers can search for animals in need of
          a little love in their area and book a playdate or a walk</p>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div id="image">
        <img src="https://source.unsplash.com/N04FIfHhv_k/530x530" alt="A shelter dog">
      </div>
    </div>
  </div>
  <div id="testimonies-frame">
    <div id="testimonies">
      <h3><b>What our users say</b></h3>
      <br>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="card-product">
              <img src="https://source.unsplash.com/b1Hg7QI-zcc/1600x900" />
              <div class="card-product-infos">
                <h3>Don't know who enjoyed it more - me or Polly!</h3>
                <p>I had a great afternoon with <strong>Polly</strong>. She's such a friendly dog and
                clearly loved our walk in the forest. I'll definitely arrange another memetup with her.</p>
                <p><i>Laura H.</i></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card-product">
              <img src="https://source.unsplash.com/DItYlc26zVI/1600x900" />
              <div class="card-product-infos">
                <h3>A wonderful way to spend an afternoon</h3>
                <p>I'm very glad I found Shelter Buddies. I'm a huge cat lover but unfortunately can't
                have one at home. Now I can go visit my favourite shelter and play with cats whenever I want.</p>
                <p><i>Philip R.</i></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

