<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/qO-PIF84Vxg/1600x900')">
  <div class="container">
    <div class="banner-content">
      <h1>Pet Buddiez</h1>
      <br>
      <h2>Book time with your favorite shelter animal</h2>
    </div>
    <div class="col-sm-6 col-xs-12">
      <form id="search-box">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Select your preferred animal">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Select your location">
          </div>
        </div>
        <br>
        <div class="row">
          <div class='col-sm-6'>
            <div class="form-group">
              <input id='datetimepicker1'type="text" class="form-control" placeholder="Select your date"/>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-light">Find your buddy!</button>
      </form>
    </div>
  </div>
</div>
