.card-reservation {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  display: table;
}
.booking-infos {
  vertical-align: middle;
  display: table-cell;
  display: inline-block;
}




.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 100px;
}

.card-product img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  justify-content: center;
  margin-left: 5px;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-animal {
  overflow: hidden;
  width: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 5px;
}

.card-animal:hover {
  overflow: hidden;
  max-width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  margin: 10px;
  border-radius: 5px;
}

.card-animal > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-animal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-animal p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
