.container {
}

body {
  background-color: white;
}

#description {
  margin-top: 20px;
  margin-bottom: 20px;
}

#description-text {
  margin-top: 20px;
  padding-right: 40px;
  width: 600px;
}

#testimonies-frame {
  background-color: white;
}

#testimonies {
  padding: 20px;
}


#image img {
  height: auto;
  width: auto;
  object-fit: cover;
  justify-content: center;
  margin-left: 5px;
}



