.shelter-info {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  flex-grow: 1;
  padding-right: 20px;
}

.shelter-container {
  display: flex;
  flex-orientation: row;
}

#shelter-map {
  max-width: 400px;
}
